<html>
    <head>
        <title>Marina's blog</title>
    </head>
    <body>
        <p>Здесь буду публиковать мысли, планы, достижения и полезные для меня ссылки</p>
        <p>Планы</p>
        <ul>
        <li>Изучить английский на достаточном для разговора и чтения тех. литературыы уровне</li>>
        <li>Изучить Python для Анализа данных</li>>
        <li>Построить модель и опубликовать в интернете</li>>
        <li>Меньше уставать и больше радоваться</li>   
        </ul>
    </body>
</html>