<html>
    <head>
        <title>Marina's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <div>
                <p>published: 27.07.2018, 08:04</p>
                <h2><a href="">My Plans</a></h2>
                <ul>
                    <li>Изучить английский на достаточном для разговора и чтения тех. литературыы уровне</li>
                    <li>Изучить Python для Анализа данных</li>
                    <li>Построить модель и опубликовать в интернете</li>
                    <li>Меньше уставать и больше радоваться</li>   
                </ul>
        </div>>
        <div>
                <p>published: 27.07.2018, 08:04</p>
                <h2><a href="">My doubt</a></h2>
                <ul>
                    <li>Сложности в поиске работы, возможно придется переехать</li>
                    <li>Высокоинтеллектуальная работа, будет не просто</li>
                    <li>Нет времени на отдых и родных</li>   
                    </ul>       
    </body>
</html>